* {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}


nav {
    text-align: center;
    background-color: rgba(173,173,173,0.9);
    margin-top: 0px;
    display: flex;
    position: sticky;
    top: 0;
    margin-top: -25px;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0%;
}

li {
    display: inline-block;
    padding: 0%;
}

#navLien {
    margin: 0px;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    color: aliceblue;
}

li:hover {
    background-color: black;
}

.titre {
	margin-top: 40px;
}

#pseudoNav {
	color: white;
}

form {
    margin-top: 20px;
}

#bodyInscription {
    background-image: url("../assets/inscriptionbg.jpg");
    background-size: cover;
    background-position: center;
}
#titreInscription {
    width: 30%;
    padding: 0% 10% 0% 10% !important;
    margin:auto;
    background: rgba(0,0,0,0.75);
    border-radius: 7px;
    color: white;
    border-style: none;
}

#formInscription input {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 2%;
    width: 15%;
    font-size: 20px;
}

#formConnexion input {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 2%;
    width: 15%;
    font-size: 20px;
}

p {
    font-size: 20px;
}

#bodyConnexion {
    background: url('../assets/Mersedi.png');
    background-size: cover;
    background-position: center;
}

#titreConnexion {
    width: 30%;
    padding: 0% 10% 0% 10% !important;
    margin:auto;
    background: rgba(0,0,0,0.75);
    border-radius: 7px;
    color: white;
    border-style: none;
}

#boutonIndex {
    padding: 2%;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
}

#lienIndex {
    text-decoration: none;
}

#bodyIndex {
    background-color: rgb(159, 197, 214);
}

#boutonIndex:hover {
    background-color: black;
    color: white;
}

#divArticle {
    width: 30%;
    padding: 0% 10% 0% 10% !important;
    margin:auto;
    background: rgba(155, 107, 107, 0.75);
    border-radius: 7px;
    color: white;
    border-style: none;
}

#icoNavbar {
    width: 50px;
    height: auto;
}

#discordLogo {
    width: 75px;
}