* {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}


nav {
    text-align: center;
    background-color: rgba(173,173,173,0.9);
    margin-top: 0px;
    display: flex;
    position: sticky;
    top: 0;
    margin-top: -25px;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0%;
}

li {
    display: inline-block;
    padding: 0%;
}

.navLien {
    margin: 0px;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    color: aliceblue;
}

li:hover {
    background-color: black;
}

.titre {
	margin-top: 40px;
}

.pseudoNav {
	color: white;
}

form {
    margin-top: 20px;
}